*.pyc
*.so
*.egg-info
*.z
build
segmentation/training/features
segmentation/training/features2
segmentation/training/states
segmentation/training/list
segmentation/training/log
segmentation/training/model
segmentation/training/states
pose/training/features
pose/training/features2
pose/training/list
pose/training/log
pose/training/model
pose/training/states
*.caffemodel
up_tools/sample2meshdist.cpp
up_tools/fast_derivatives/smpl_derivatives.cpp
models/pose/deepercut.caffemodel
.#*
applications

models/pose/train2_iter_500000.caffemodel
.*_cache
.DS_Store
.python-version
